.c-breadcrumb {
    font-size: rem(16);
    letter-spacing: rem(1);
}

.c-breadcrumb__items {
    display: flex;
}

.c-breadcrumb__item {
    display: flex;
}

.c-breadcrumb__link {}

.c-breadcrumb span {
    margin: 0 rem(2);
}