<div class="p-footer">
    <div class="p-footer__inner">
        <div class="p-footer__container">
            <div class="p-footer__logo">
                <a href="#">
                    <img src="./images/common/logo.svg" alt="ロゴ">
                </a>
            </div>
            <%- include('./_p-footer-nav') %>
        </div>
        <p class="p-footer__copyright"><small>&copy; 2021 CodeUps Inc.</small></p>
    </div>
</footer>