<nav class="p-footer__nav p-footer-nav">
    <ul class="p-footer-nav__items">        
        <li class="p-footer-nav__item"><a href="#"><span class="p-footer-nav__text">トップ</span></a></li>
        <li class="p-footer-nav__item"><a href="#"><span class="p-footer-nav__text">お知らせ</span></a></li>
        <li class="p-footer-nav__item"><a href="#"><span class="p-footer-nav__text">事業内容</span></a></li>
        <li class="p-footer-nav__item"><a href="#"><span class="p-footer-nav__text">企業概要</span></a></li>
        <li class="p-footer-nav__item"><a href="#"><span class="p-footer-nav__text">ブログ</span></a></li>
        <li class="p-footer-nav__item"><a href="#"><span class="p-footer-nav__text">お問い合わせ</span></a></li>
    </ul>
</nav>