<header class="l-header p-header">
    <div class="p-header__inner">
        <div class="p-header__logo">
            <a href="#">
                <img src="./images/common/logo.svg" alt="ロゴ">
            </a>
        </div>
        <div class="p-header__right">
            <%- include('./_p-pc-nav') %>
            <%- include('./../parts/component/_c-drawer-icon') %>
        </div>
    </div>
</header>
<%- include('./_p-sp-nav') %>