<nav class="l-sp-nav p-sp-nav js-drawer-nav">
    <ul class="p-sp-nav__items">
        <li class="p-sp-nav__item"><a href="index.html"><span class="p-sp-nav__text">トップ</span></a></li>
        <li class="p-sp-nav__item"><a href="news.html"><span class="p-sp-nav__text">お知らせ</span></a></li>
        <li class="p-sp-nav__item"><a href="content.html"><span class="p-sp-nav__text">事業内容</span></a></li>
        <li class="p-sp-nav__item"><a href="works.html"><span class="p-sp-nav__text">制作実績</span></a></li>
        <li class="p-sp-nav__item"><a href="overview.html"><span class="p-sp-nav__text">企業内容</span></a></li>
        <li class="p-sp-nav__item"><a href="blog.html"><span class="p-sp-nav__text">ブログ</span></a></li>
        <li class="p-sp-nav__item"><a href="contact.html"><span class="p-sp-nav__text">お問い合わせ</span></a></li>
    </ul>
</nav>