<div class="p-404">
    <h1 class="p-404__head">404 Not Found</h1>
    <p class="p-404__text"><span>お探しのページは</span><span>見つかりませんでした。</span></p>
    <div class="p-404__btn">
        <%- include('../component/_c-btn',{text:'TOPへ', link:'#', backcolor:'black'}) %>
    </div>
</div>