<div class="p-blog-detail">
    <div class="p-blog-detail__inner l-inner">
        <div class="p-blog-detail__body">
            <h1 class="p-blog-detail__title">タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h1>
            <div class="p-blog-detail__head">
                <time class="p-blog-detail__date" datetime="2020-06-13">2020/06/13</time>
                <div class="p-blog-detail__category">カテゴリ１</div>
            </div>
            <img src="./images/blog/blog-detail01.jpg" alt="ブログ詳細01">
            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <h2>見出し２</h2>
            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <h3>見出し３見出し３見出し３見出し３</h3>
            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <img src="./images/blog/blog-detail02.jpg" alt="ブログ詳細02">
            <ul>
                <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            </ul>
            <ol>
                <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
                <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            </ol>
        </div>
        <div class="p-blog-detail__link">
            <p class="p-blog-detail__prev"><a href="#">prev</a></p>
            <p class="p-blog-detail__list"><a href="#">一覧</a></p>
            <p class="p-blog-detail__next"><a href="#">next</a></p>
        </div>
        <div class="p-blog-detail__related p-blog-related">
            <p class="p-blog-related__title">関連記事</p>
            <div class="p-blog-related__body">
                <div class="p-blog-related__card">
                    <%- include('./_p-blog-card') %>
                </div>
                <div class="p-blog-related__card">
                    <%- include('./_p-blog-card') %>
                </div>
                <div class="p-blog-related__card">
                    <%- include('./_p-blog-card') %>
                </div>
                <div class="p-blog-related__card">
                    <%- include('./_p-blog-card') %>
                </div>
            </div>
        </div>
    </div>
</div>