<a href="" class="p-blog-card">
    <div class="p-blog-card__label">New</div>
    <div class="p-blog-card__img">
        <img src="images/blog/blog-img1.jpg" alt="サムネイル画像">
    </div>
    <div class="p-blog-card__body">
        <p class="p-blog-card__title">タイトルが入ります。タイトルが入ります。</p>
        <p class="p-blog-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
        <div class="p-blog-card__info">
            <p class="p-blog-card__category">カテゴリ</p>
            <time class="p-blog-card__date" datetime="2021-07-20">2021.07.20</time>
        </div>
    </div>
</a>