<div class="p-contact">
    <div class="l-inner">
        <div class="p-contact__head">
            <%- include('../component/_c-title',{japaneseTitle:'お問い合わせ', englishTitle:'Contact'}) %>
        </div>
        <div class="p-contact__body">
            <p class="p-contact__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
            <div class="p-contact__btn">
                <%- include('../component/_c-btn',{text:'お問い合わせへ', link:'#', backcolor:'black'}) %>
            </div>
        </div>
    </div>
</div>