<div class="p-news">
  <div class="p-news__wrapper">
    <div class="p-news__header">
      <time class="p-news__date">2020.07.20</time>
      <div class="p-news__category">お知らせ</div>
    </div>
    <div class="p-news__titleblock">
      <a href="#"
        class="p-news__title">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</a>
    </div>
  </div>
</div>