<!-- トップページニュース欄 -->
<article id="top-news" class="l-top-news p-top-news">
  <div class="p-top-news__inner l-inner">
    <div class="p-top-news__wrapper">

      <div class="p-top-news__content">
        <div class="l-news">
          <%- include('./_p-news') %>
        </div>
      </div>
  
      <div class="p-top-news__btnblock">
        <%- include('../component/_c-btn',{text:'すべて見る', link:'#', backcolor:'half'}) %>
      </div>

    </div>
  </div>
</article>