<section class="l-top-overview p-top-overview">
    <div class="l-inner">
        <div class="p-top-overview__head">
            <%- include('../component/_c-title',{japaneseTitle:'企業概要', englishTitle:'Overview'}) %>
        </div>
    </div>
    <div class="p-top-overview__wrapper">
        <div class="l-inner">
            <div class="p-top-overview__body">
                <div class="p-top-overview__img">
                    <img src="images/top/overview-img.jpg" alt="企業概要イメージ画像">
                </div>
                <div class="p-top-overview__content">
                    <p class="p-top-overview__title">メインタイトルが入ります</p>
                    <p class="p-top-overview__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
                    <div class="p-top-overview__btn">
                        <%- include('../component/_c-btn',{text:'詳しく見る', link:'#', backcolor:'black'}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>