<!-- content 事業内容 -->
<div class="p-top-content">
  <div class="p-top-content__inner">
    <div class="p-top-content__header l-inner">
      <%- include('../component/_c-title',{japaneseTitle:'事業内容', englishTitle:'content'}) %>
    </div>

    <div class="l-top-content__wrapper p-top-content__wrapper">
      <ul class="p-top-content__list">

        <li class="p-top-content__item">
          <a href="#" class="p-top-content__link">
            <div class="p-top-content__img">
              <img src="./images/content/content1@2x.jpg" alt="事業内容コンテンツ『経営理念ページへ』リンク">
            </div>
            <div class="p-top-content__textblock">
              <p class="p-top-content__text">経営理念ページへ</p>
            </div>
          </a>
        </li>
        <li class="p-top-content__item">
          <a href="#" class="p-top-content__link">
            <div class="p-top-content__img">
              <img src="./images/content/content2@2x.jpg" alt="事業内容コンテンツ『理念1へ』リンク">
            </div>
            <div class="p-top-content__textblock">
              <p class="p-top-content__text">理念1へ</p>
            </div>
          </a>
        </li>

        <li class="p-top-content__item">
          <a href="#" class="p-top-content__link">
            <div class="p-top-content__img">
              <img src="./images/content/content3@2x.jpg" alt="事業内容コンテンツ『理念2へ』リンク">
            </div>
            <div class="p-top-content__textblock">
              <p class="p-top-content__text">理念2へ</p>
            </div>
          </a>
        </li>
        <li class="p-top-content__item">
          <a href="#" class="p-top-content__link">
            <div class="p-top-content__img">
              <img src="./images/content/content4@2x.jpg" alt="事業内容コンテンツ『理念3へ』リンク">
            </div>
            <div class="p-top-content__textblock">
              <p class="p-top-content__text">理念3へ</p>
            </div>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>