<section class="p-works-detail-header">
  <div class="p-works-detail-header__inner l-inner-800w">
    <h1 class="p-works-detail-header__title">〇〇株式会社様 制作実績</h1>
    <div class="p-works-detail-header__info">
      <time class="p-works-detail-header__time" datetime="2020-06-13">2020/06/13</time>
      <div class="p-works-detail-header__category">カテゴリ１</div>
    </div>
  </div>
</section>