<div class="c-pagePrevNext">
  <ul class="c-pagePrevNext__items">
    <li class="c-pagePrevNext__item"><a href="#">prev</a></li>
    <li class="c-pagePrevNext__item c-pagePrevNext__item--archive"><a href="#">一覧</a></li>
    <li class="c-pagePrevNext__item"><a href="#">next</a></li>
  </ul>
</div>