.p-form input[type="text"],
.p-form input[type="email"],
.p-form textarea {
    font-size: rem(14);
    letter-spacing: 0.05em;
    box-shadow: none;
    border: none;
    background: $white;
    padding: rem(9);
    appearance: none;
    color: $black;
    font-family: inherit;
    width: 100%;
    margin-top: rem(4);
    @include mq('tab') {
        padding: rem(7) rem(16);
    }
}

.p-form input[type="submit"],
.p-form input[type="reset"],
.p-form input[type="button"] {
    @extend .c-btn;
    border-color: transparent;
    background: transparent;
    color: #333;
    cursor: pointer;
}

.p-form input[type="submit"]:hover,
.p-form input[type="reset"]:hover,
.p-form input[type="button"]:hover {
    border-color: transparent;
    background: transparent;
    color: inherit;
}

.p-form textarea {
    height: rem(250);
    resize: vertical;
    padding-top: rem(15);
    @include mq('tab') {
        height: rem(300);
    }
}

.p-form__items {}

.p-form__item {
    @include mq('tab') {
        display: flex;
        justify-content: center;
    }
}

.p-form__item:not(:last-child) {
    margin-bottom: rem(31.5);
    @include mq('tab') {
        margin-bottom: rem(40.75);
    }
}

.p-form__label {
    font-size: rem(14);
    letter-spacing: 0.05em;
    @include mq('tab') {
        width: rem(157);
        padding-right: rem(24);
        text-align: right;
        margin-top: rem(10);
    }
}

.p-form__input {
    margin-top: rem(12);
    @include mq('tab') {
        margin-top: 0;
        width: calc(100% - #{rem(157)});
    }
}

.p-form__btn-wrapper {
    color: inherit;
    padding: 0;
}

.p-form__btn {
    text-align: center;
    margin-top: rem(40);
    @include mq('tab') {
        margin-top: rem(47);
        max-width: rem(360);
        margin-left: auto;
        margin-right: auto;
    }
}

.p-form__btn-wrapper.c-btn--white {
    padding: 0;
}

.wpcf7-spinner {
    display: none;
}