.p-top-blog {}

.p-top-blog__head {}

.p-top-blog__body {
    margin-top: rem(60);
    @include mq('tab') {
        margin-top: rem(38);
        display: flex;
        flex-wrap: wrap;
        margin-left: rem(-25);
    }
}

.p-top-blog__card {
    margin-bottom: rem(24);
    @include mq('tab') {
        margin-bottom: rem(48);
        margin-left: rem(25);
        width: calc(100% / 3 - #{rem(25)});
    }
}

.p-top-blog__btn {
    text-align: center;
    @include mq('tab') {
        max-width: rem(360);
        margin-left: auto;
        margin-right: auto;
    }
}