.p-top-overview {
    position: relative;
}

.p-top-overview::before {
    content: '';
    position: absolute;
    top: 6rem;
    right: 0;
    width: 100%;
    height: 5px;
    background: #F9F871;
    transform: skewY(105deg);
    z-index: -1;
    @include mq() {
        top: 24.2rem;
        height: 2px;
        transform: skewY(-45deg);
    }
}

.p-top-overview__inner {
	@include mq(tab) {
        margin: 0 auto;
        max-width: $l-inner + strip-unit($padding-pc) * 2;
        width: 100%;
        padding-right: $padding-pc;
        padding-left: $padding-pc;
    }
}

.p-top-overview__head {}

.p-top-overview__wrapper {
    z-index: 1;
    margin-top: rem(44);
    position: relative;
    @include mq('tab') {
        margin-top: rem(42);
    }
}

.p-top-overview__body {
    @include mq('tab') {
        margin-top: rem(42);
        padding-top: rem(80);
        padding-bottom: rem(77);
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
}

.p-top-overview__wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $gray;
    z-index: -1;
    @include mq('tab') {
        margin: 0 calc(50% - 50vw);
        width: 70vw;
        //box-sizing: border-box;
    }
}

.p-top-overview__img {
    position: relative;
    width: 100%;
    @include mq('tab') {
        margin: 0;
        width: 55%;
    }
}

.p-top-overview__img::before {
    content: "";
    display: block;
    padding-top: 69.6%; //height / width
    @include mq('tab') {
        padding-top: 69.83842%;
    }
}

.p-top-overview__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-top-overview__content {
    margin: auto;
    padding-top: rem(19);
    padding-right: $padding-sp;
    padding-bottom: rem(21);
    padding-left: $padding-sp;
    max-width: rem(540);
    width: 100%;
    @include mq('tab') {
        margin-right: rem(32);
        width: calc(50% + #{rem(32)});
        width: 50%;
        padding: 0;
    }
}

.p-top-overview__title {
    font-size: rem(20);
    letter-spacing: 0.1em;
    text-align: center;
    @include mq('tab') {
        margin-top: rem(-23);
        font-size: rem(25);
        letter-spacing: 0.5px;
        text-align: left;
    }
}

.p-top-overview__text {
    letter-spacing: 0.125em;
    margin-top: rem(18);
    line-height: 1.45;
    @include mq('tab') {
        letter-spacing: 0.5px;
        line-height: (35 / 16);
        margin-top: rem(32);
    }
}

.p-top-overview__btn {
    margin-top: rem(27);
    text-align: center;
    @include mq('tab') {
        margin-top: rem(48);
        max-width: rem(360);
    }
}