.p-top-overview {
    position: relative;
}

.p-top-overview::before {
    content: '';
    position: absolute;
    top: -66%;
    left: 40%;
    width: 1px;
    height: calc(1448 / 375 * 100vw);
    background-color: #F9F871;
    transform: rotate(15deg);
    z-index: -1;
    @include mq() {
        top: -78%;
        left: 48%;
        height: calc(1712.34 / 1280 * 110vw);
        transform: rotate(45deg);
    }
}

.p-top-overview__head {}

.p-top-overview__wrapper {
    z-index: 1;
    margin-top: rem(48);
    position: relative;
    @include mq('tab') {
        margin-top: rem(42);
    }
}

.p-top-overview__body {
    @include mq('tab') {
        margin-top: rem(42);
        padding-top: rem(80);
        padding-bottom: rem(80);
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
}

.p-top-overview__wrapper::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background: $gray;
    z-index: -1;
    @include mq('tab') {
        width: 70%;
    }
}

.p-top-overview__img {
    margin: 0 calc(50% - 50vw);
    @include mq('tab') {
        margin: 0;
        width: 50%;
    }
}

.p-top-overview__content {
    padding-top: rem(24);
    padding-bottom: rem(21);
    @include mq('tab') {
        margin-right: rem(32);
        width: calc(50% + #{rem(32)});
        width: 50%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.p-top-overview__title {
    font-size: rem(20);
    letter-spacing: 2px;
    text-align: center;
    @include mq('tab') {
        font-size: rem(25);
        letter-spacing: 0.5px;
        text-align: left;
    }
}

.p-top-overview__text {
    letter-spacing: 2px;
    margin-top: rem(24);
    @include mq('tab') {
        letter-spacing: 0.5px;
        line-height: (35 / 16);
        margin-top: rem(48);
    }
}

.p-top-overview__btn {
    margin-top: rem(16);
    text-align: center;
    @include mq('tab') {
        margin-top: rem(48);
        max-width: rem(360);
    }
}