.p-top-works {}

.p-top-works__head {}

.p-top-works__wrapper {
    z-index: 1;
    margin-top: rem(43);
    position: relative;
    @include mq('tab') {
        margin-top: rem(41);
    }
}

.p-top-works__body {
    @include mq('tab') {
        margin-top: rem(-3);
        padding-top: rem(81);
        padding-bottom: rem(80);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.p-top-works__wrapper::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
    background: $gray;
    z-index: -1;
    @include mq('tab') {
        width: 70%;
    }
}

.p-top-works__slider {
    margin: 0 calc(50% - 50vw);
    @include mq('tab') {
        margin: 0;
        width: 50.5%;
    }
}

.p-top-works__content {
    padding-top: rem(18);
    padding-bottom: rem(21);
    @include mq('tab') {
        margin-left: rem(32);
        width: calc(49.5% + #{rem(32)});
        width: 49.5%;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.p-top-works__title {
    font-size: rem(20);
    letter-spacing: 0.1em;
    text-align: center;
    @include mq('tab') {
        font-size: rem(25);
        letter-spacing: 0.5px;
        text-align: left;
        margin-top: rem(-16);
    }
}

.p-top-works__text {
    letter-spacing: 0.125em;
    margin-top: rem(20);
    line-height: 1.45;
    @include mq('tab') {
        letter-spacing: 0.5px;
        margin-top: rem(33);
        line-height: (35 / 16);
    }
}

.p-top-works__btn {
    margin-top: rem(27);
    text-align: center;
    @include mq('tab') {
        margin-top: rem(48);
        max-width: rem(360);
    }
}

// スライダー
.p-top-works__slider .swiper-custom-parent {
    position: relative;
}

.p-top-works__slider .swiper-horizontal>.swiper-pagination-bullets,
.p-top-works__slider .swiper-pagination-bullets.swiper-pagination-horizontal,
.p-top-works__slider .swiper-pagination-custom,
.p-top-works__slider .swiper-pagination-fraction {
    bottom: rem(-23);
    @include mq('tab') {
        bottom: rem(-33);
    }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
    @include mq('tab') {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
    }
}

.p-top-works__slider .swiper-pagination-bullet {
    background: $pagination-backcolor;
    opacity: 1;
}

.p-top-works__slider .swiper-pagination-bullet-active {
    background: $pagination-color;
}

.p-top-works__slider .swiper-slide {
    width: 100%;
    position: relative;
}

.p-top-works__slider .swiper-slide::before {
    padding-top: 70%; //height / width
    display: block;
    content: "";
}

.p-top-works__slider .swiper-slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
}

.p-top-works__slider .swiper-slide::after {
    content: "";
    position: absolute;
    background: $background;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
    ;
}