<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

    <body>
        <%- include('./common/_p-header') %>

            <section class="l-inner">
                <div class="l-thanks">
                    <%- include('./parts/project/_p-thanks') %>
                </div>
            </section>

            <%- include('./common/_p-footer') %>
    </body>

</html>