.l-contact-form {
    margin-top: rem(85);
    margin-bottom: rem(120);
    @include mq('tab') {
        max-width: rem(696);
        margin-top: rem(115);
        margin-bottom: rem(150);
        margin-right: auto;
        margin-left: auto;
    }
}