.l-news-list {
    max-width: rem(860);
    margin-right: auto;
    margin-left: auto;
    margin-top: rem(81);
    margin-bottom: rem(120);
    @include mq('tab') {
        margin-top: rem(65);
        margin-bottom: rem(150);
    }
}

// .l-news-list__pagination {
//     margin-top: rem(104);
// }