// 色
$background: #111; // 背景
$text-color: #fff;
$black: #000;
$white: #fff;
$red: #FF5757;
$gray: #333333;
$contact-backcolor: #3D3D3D;
$newmark-color: #FFBA6A;
$category-color :#FFEA2E;
$navhover-color :#FFEA2E;
$required-color: #FFDCDC;
$title-color: #F9F871;
$backslash-color: #F9F871;
$pagination-color: #F9F871;
$pagination-backcolor: #C4C4C4;
// マウスホバー
$opacity: 0.7; // 透過度
// フォント
$font-family-base: 'Noto Sans JP',
sans-serif; // ベースフォント
$font-family-second: 'Noto Serif JP',
serif; // サブフォント
$font-size-base: rem(16); // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.875; // ベース行間
// ---
// レイアウト
// ---
$l-tab: 768px; // タブレットサイズ
$l-inner: 1100px; // インナー幅
$l-pc: 1280px; // パソコン幅
// ブレークポイント（PC基準）
$breakpoints: ( "sp": "screen and (min-width: 375px)", "tab": "screen and (min-width: #{$l-tab})", "pc": "screen and (min-width: #{$l-inner})", "lg": "screen and (min-width: #{$l-pc})", );
$padding-pc: 25px; // PC時の余白
$padding-sp: 20px; // スマホ時の余白